<div class="wrapper">
    <table id="note_dg"></table>
    <!-- Dialogo -->
    <div id="note_dlg">
        <form class="fm" id="note_fm" method="post" novalidate>
            <div class="fitem">
                <input id="note_name" name="name">
            </div>
            <div class="fitem">
                <input id="note_description" name="description">
            </div>
        </form>
    </div>
    <div>
	test1
    </div>
</div>
<script src="{{@UI}}note/index.js?v={{@version}}"></script>